<!DOCTYPE html>
<html lang="en" ng-app="adminApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Control</title>

    <!-- to remove favicon err, need to add favicon later on -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- required CSS libraries -->
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/tether/dist/css/tether.min.css" />


    <!-- required JS libraries -->
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/tether/dist/js/tether.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/angular/angular.min.js"></script>

    <!-- custom JS files goes here -->
    <script src="/source/adminApp.js"></script>

    <!-- custom styling -->
    <style>
        .body-wrapper {
            background: #ededed;
        }
        
        .header-wrapper {
            background: #fafafa;
            border-bottom: 0.20rem solid #2a3f54;
        }
        
        .cog-wrapper {
            background: #2a3f54;
            border-right: 0.15rem solid #2a3f54;
            color: #ecf0f1
        }
        
        .cog-wrapper>.display-4 {
            padding: 0.60rem;
        }
        
        .custom-nav-link:hover {
            background: #2a3f54;
            color: white;
        }
        
        .top-menu-wrapper>.nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            background: #2a3f54;
            color: white;
        }
        
        .app-constant-list {
            cursor: pointer;
        }
    </style>

</head>

<body class="body-wrapper" ng-controller="adminBodyController as adminController">

    <header class="container-fluid header-wrapper">
        <div class="row">
            <div class="col-xs-3 cog-wrapper">
                <h3 class="display-4">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </h3>
            </div>
            <div class="col-xs-9">
                <h3 class="display-3">&nbsp;Admin Control</h3>
            </div>
        </div>

    </header>


    <section class="top-menu-wrapper">

        <ul class="nav nav-tabs justify-content-center nav-justified">
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="#">Role Modification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="#">Application Constants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="#">Request Audit</a>
            </li>
        </ul>

    </section>

    <section>

        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-xs-3">
                    <ul>
                        <li class="app-constant-list" ng-repeat="appConstant in adminController.application_constant_lst">
                            <span ng-click="adminController.getAppConstantValues(appConstant.name)">
                                {{appConstant.name}}
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-8 offset-1" ng-if="adminController.display_lst.visible == true">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input id="addItemTextbox" class="form-control mx-sm-3" aria-describedby="addItemHelpline" type="text" placeholder="Add item to list..." />
                                        <button class="btn btn-outline-primary" ng-click="adminController.addValueToAppConstant()">Add item</button>
                                        <small id="addItemHelpline" class="text-muted">&nbsp;No validations, please ensure correct values are entered</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li ng-repeat="appConstantVal in adminController.display_lst.values">
                                        <span>
                                            {{appConstantVal}}
                                            <!--<button class="" class="close" aria-label="Close">-->
                                                <span style="cursor:pointer" aria-hidden="true" ng-click="adminController.deleteValueFromAppConstant(appConstantVal)">&times;</span>
                                        <!--</button>-->
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


</body>

</html>